<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Todo List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
  </head>
  <body>
    <form action="/logout" method="get">
        <button id="logout-button" type="submit">Sair</button>
    </form>
    <h1>Todo List</h1>
    <ul>
      {% for todo in todos %}
        <li>
          <input type="checkbox" name="done" {% if todo['done'] %}checked{% endif %} onchange="this.form.submit()">
          <span {% if todo['done'] %}style="text-decoration: line-through"{% endif %}>{{ todo.tarefa }}</span>
          <a href="{{ url_for('edit', index=loop.index0) }}">edit</a>
          <a href="{{ url_for('delete', index=loop.index0) }}">delete</a>
        </li>
      {% endfor %}
    </ul>
    <form action="{{ url_for('add') }}" method="post">
      <input type="text" name="todo">
      <button type="submit">Add</button>
    </form>
  </body>
</html>